@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap');

*{
  margin: 0;
  font-family: 'Vazirmatn', sans-serif;
}

.relationSelection {
  width: 15rem;
  right: 50%;
  transform: translate(50%, 0);
}

.modalClass{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scrollBar::-webkit-scrollbar {
  height: 5px;
  background-color: #000000;
}

.scrollBar::-webkit-scrollbar-thumb {
  background: #d80000;
}

@media (600px > width) {
  .scrollBar{
    width: 100%;
  }
}

@media (430px > width) {
  .form{
    padding: 1rem 5px;
  }
  .title{
    font-size: 25px;
  }
}